@{
    Layout = "_NavbarLayout";
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>

    <link rel="stylesheet" href="~/css/landing.css" />


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    


   



</head>

<body>

    <div class="">


        <div class="container" style="margin-top:150px">
            <div class="filters-section d-flex align-items-center flex-wrap justify-content-center">
            </div>
            <div class="d-flex align-items-center justify-content-between mission-listing-title">
                <div class="landing-page-mission-header">
                    Explore <b>72 missions</b>
                </div>

                <div>

                    <div class="row d-flex align-items-center">



                        <div class="my-3">
                            <div class="pull-right d-flex sortby align-items-center">
                                
                                <div class="dropdown sort me-2 mt-1">
                                    <button class=" btn sort-btn dropdown d-flex " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="sortby me-2 "> Sort By</span>
                                        <img src="~/images/drop-down.png" alt="" class="mt-2">
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </div>
                                <div class="btn-group d-none d-lg-flex">

                                    <button class="btn" id="grid">
                                        <img src="~/images/grid.png" alt="">
                                    </button>
                                    <button class="btn" id="list">
                                        <img src="~/images/list.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="products" class="row view-group">
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event">
                            <img class="group list-group-image img-fluid" style="width:100%;"
                                 src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="" />
                            <div class="landing-page-top-right"><img src="~/images/pin.png" alt=""> Toronto</div>
                            <div class="landing-page-bottom-right d-flex flex-column">
                                <button class="mb-2 landing-page-btn-img">
                                    <img src="~/images/heart.png" alt="">
                                </button><button class="landing-page-btn-img">
                                    <img src="~/images/user.png"
                                         alt="">
                                </button>
                            </div>

                            <div class="landing-page-bottom-center">Environment</div>
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Grow Trees - on the path to Environment sustainability
                            </h4>
                            <p class="group inner landing-page-list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>
                            <div class="d-flex justify-content-between landing-page-card-rating">
                                <div>Tree Canada</div>
                                <div>
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                </div>
                            </div>
                            <div class="rule d-flex mt-1">
                                <hr>
                                <button class="date-btn mt-1">From 10/01/2019 until 25/02/2019</button>
                                <hr>
                            </div>
                            <div class="row landing-page-box-border">
                                <div class="col-6 col-md-6 d-flex align-items-center">
                                    <p class="lead me-2 pt-2">
                                        <img src="~/images/Seats-left.png" alt="">
                                        <div>
                                            <div>10</div>
                                            <div class="landing-page-card-vol-small">Seats Left</div>
                                        </div>
                                    </p>
                                </div>
                                <div class="col-6 col-md-6 d-flex align-items-center">
                                    <p class="lead me-2 pt-2">
                                        <img src="~/images/deadline.png" alt="">
                                        <div>
                                            <div>09/01/2023</div>
                                            <div class="landing-page-card-vol-small">Deadline</div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="">
                                    <a class="btn mt-2 landing-page-apply-mission-btn" href="#">
                                        Apply <img src="~/images/right-arrow.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event">
                            <img class="group list-group-image img-fluid" style="width:100%;"
                                 src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" alt="" />
                            <div class="landing-page-top-right"><img src="~/images/pin.png" alt=""> Toronto</div>
                            <div class="landing-page-bottom-right d-flex flex-column">
                                <button class="mb-2 landing-page-btn-img">
                                    <img src="~/images/heart.png" alt="">
                                </button><button class="landing-page-btn-img">
                                    <img src="~/images/user.png"
                                         alt="">
                                </button>
                            </div>

                            <div class="landing-page-bottom-center">Environment</div>
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Education Supplies for every Pair of shoes sold
                            </h4>
                            <p class="group inner landing-page-list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>
                            <div class="d-flex justify-content-between mb-2 landing-page-card-rating">
                                <div>Australian Paradise</div>
                                <div>
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                </div>
                            </div>
                            <div class="rule d-flex mt-1">
                                <hr>
                                <button class="date-btn mt-1">From 10/01/2019 until 25/02/2019</button>
                                <hr>
                            </div>
                            <div class="row landing-page-box-border">

                                <div class="col-6 col-md-6 d-flex align-items-center">
                                    <p class="lead me-2 pt-2">
                                        <img src="~/images/user1.png" alt="">
                                        <div>
                                            <div>250</div>
                                            <div class="landing-page-card-vol-small">Already Volunteered</div>
                                        </div>
                                    </p>
                                </div>
                                <div class="col-6 col-md-6 d-flex align-items-center">
                                    <p class="lead me-2 pt-2">
                                        <img src="~/images/deadline.png" alt="">
                                        <div>
                                            <div>09/01/2023</div>
                                            <div class="landing-page-card-vol-small">Deadline</div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="">
                                    <a class="btn mt-2 landing-page-apply-mission-btn" href="#">
                                        Apply <img src="~/images/right-arrow.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event">
                            <img class="group list-group-image img-fluid" style="width:100%;"
                                 src="~/images/Nourish-the-Children-in--African-country.png" alt="" />
                            <div class="landing-page-top-right"><img src="~/images/pin.png" alt=""> Toronto</div>
                            <div class="landing-page-bottom-right d-flex flex-column">
                                <button class="mb-2 landing-page-btn-img">
                                    <img src="~/images/heart.png" alt="">
                                </button><button class="landing-page-btn-img">
                                    <img src="~/images/user.png"
                                         alt="">
                                </button>
                            </div>

                            <div class="landing-page-bottom-center">Children</div>
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Education Supplies for every Pair of shoes sold
                            </h4>
                            <p class="group inner landing-page-list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>
                            <div class="d-flex justify-content-between mb-2 landing-page-card-rating">
                                <div>Australian Paradise</div>
                                <div>
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                </div>
                            </div>
                            <div class="rule d-flex mt-1">
                                <hr>
                                <button class="date-btn mt-1">From 10/01/2019 until 25/02/2019</button>
                                <hr>
                            </div>
                            <div class="row landing-page-box-border">

                                <div class="col-6 col-md-6 d-flex align-items-center">
                                    <p class="lead me-2 pt-2">
                                        <img src="~/images/Seats-left.png" alt="">
                                        <div>
                                            <div>10</div>
                                            <div class="landing-page-card-vol-small">Seats Left</div>
                                        </div>
                                    </p>
                                </div>
                                <div class="col-6 col-md-6 d-flex align-items-center">
                                    <p class="lead me-2 pt-2">
                                        <img src="~/images/deadline.png" alt="">
                                        <div>
                                            <div>09/01/2023</div>
                                            <div class="landing-page-card-vol-small">Deadline</div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="">
                                    <a class="btn mt-2 landing-page-apply-mission-btn" href="NoMissionFound">
                                        Apply <img src="~/images/right-arrow.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event">
                            <img class="group list-group-image img-fluid" style="width:100%;"
                                 src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="" />
                            <div class="landing-page-top-right"><img src="~/images/pin.png" alt=""> Toronto</div>
                            <div class="landing-page-bottom-right d-flex flex-column">
                                <button class="mb-2 landing-page-btn-img">
                                    <img src="~/images/heart.png" alt="">
                                </button><button class="landing-page-btn-img">
                                    <img src="~/images/user.png"
                                         alt="">
                                </button>
                            </div>

                            <div class="landing-page-bottom-center">Environment</div>
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Grow Trees - on the path to Environment sustainability
                            </h4>
                            <p class="group inner landing-page-list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>
                            <div class="d-flex justify-content-between mb-2 landing-page-card-rating">
                                <div>Tree Canada</div>
                                <div>
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                </div>
                            </div>
                            <div class="rule d-flex mt-1">
                                <hr>
                                <button class="date-btn mt-1">From 10/01/2019 until 25/02/2019</button>
                                <hr>
                            </div>
                            <div class="row landing-page-box-border">

                                <div class="col-6 col-md-6 d-flex align-items-center">
                                    <p class="lead me-2 pt-2">
                                        <img src="~/images/Seats-left.png" alt="">
                                        <div>
                                            <div>10</div>
                                            <div class="landing-page-card-vol-small">Seats Left</div>
                                        </div>
                                    </p>
                                </div>
                                <!-- <div class="col-6 col-md-6 d-flex align-items-center">
                                  <p class="lead me-2 pt-2">
                                    <img src="~/images/deadline.png" alt="">
                                  <div>
                                    <div>09/01/2023</div>
                                    <div class="landing-page-card-vol-small">Deadline</div>
                                  </div>
                                  </p>
                                </div> -->
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="">
                                    <a class="btn mt-2 landing-page-apply-mission-btn" href="#">
                                        Apply <img src="~/images/right-arrow.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event">
                            <img class="group list-group-image img-fluid" style="width:100%;"
                                 src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="" />
                            <div class="landing-page-top-right"><img src="~/images/pin.png" alt=""> Toronto</div>
                            <div class="landing-page-bottom-right d-flex flex-column">
                                <button class="mb-2 landing-page-btn-img">
                                    <img src="~/images/heart.png" alt="">
                                </button><button class="landing-page-btn-img">
                                    <img src="~/images/user.png"
                                         alt="">
                                </button>
                            </div>

                            <div class="landing-page-bottom-center">Environment</div>
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Grow Trees - on the path to Environment sustainability
                            </h4>
                            <p class="group inner landing-page-list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>
                            <div class="d-flex justify-content-between mb-2 landing-page-card-rating">
                                <div>Tree Canada</div>
                                <div>
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                </div>
                            </div>
                            <div class="rule d-flex mt-1">
                                <hr>
                                <button class="date-btn mt-1">From 10/01/2019 until 25/02/2019</button>
                                <hr>
                            </div>
                            <div class="row landing-page-box-border">

                                <div class="col-6 col-md-6 d-flex align-items-center">
                                    <p class="lead me-2 pt-2">
                                        <img src="~/images/Seats-left.png" alt="">
                                        <div>
                                            <div>10</div>
                                            <div class="landing-page-card-vol-small">Seats Left</div>
                                        </div>
                                    </p>
                                </div>
                                <div class="col-6 col-md-6 d-flex align-items-center">
                                    <p class="lead me-2 pt-2">
                                        <img src="~/images/achieved.png" alt="">
                                        <div style="width: 100%;">
                                            <div>

                                                <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25"
                                                     aria-valuemin="0" aria-valuemax="100" style="height: 10px;">
                                                    <div class="progress-bar bg-success" style="width: 25%;"></div>
                                                </div>

                                            </div>
                                            <div class="landing-page-card-vol-small">8000 achived</div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="">
                                    <a class="btn mt-2 landing-page-apply-mission-btn" href="#">
                                        Apply <img src="~/images/right-arrow.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event">
                            <img class="group list-group-image img-fluid" style="width:100%;"
                                 src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="" />
                            <div class="landing-page-top-right"><img src="~/images/pin.png" alt=""> Toronto</div>
                            <div class="landing-page-bottom-right d-flex flex-column">
                                <button class="mb-2 landing-page-btn-img">
                                    <img src="~/images/heart.png" alt="">
                                </button><button class="landing-page-btn-img">
                                    <img src="~/images/user.png"
                                         alt="">
                                </button>
                            </div>

                            <div class="landing-page-bottom-center">Environment</div>
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Grow Trees - on the path to Environment sustainability
                            </h4>
                            <p class="group inner landing-page-list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>
                            <div class="d-flex justify-content-between mb-2 landing-page-card-rating">
                                <div>Tree Canada</div>
                                <div>
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                </div>
                            </div>
                            <div class="rule d-flex mt-1">
                                <hr>
                                <button class="date-btn mt-1">From 10/01/2019 until 25/02/2019</button>
                                <hr>
                            </div>
                            <div class="row landing-page-box-border">

                                <!-- <div class="col-6 col-md-6 d-flex align-items-center">
                                  <p class="lead me-2 pt-2">
                                    <img src="~/images/Seats-left.png" alt="">
                                  <div>
                                    <div>10</div>
                                    <div class="landing-page-card-vol-small">Seats Left</div>
                                  </div>
                                  </p>
                                </div> -->
                                <div class="col-12 d-flex align-items-center">
                                    <p class="lead me-2 pt-2">
                                        <img src="~/images/achieved.png" alt="">
                                        <div style="width: 100%;">
                                            <div>

                                                <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25"
                                                     aria-valuemin="0" aria-valuemax="100" style="height: 10px;">
                                                    <div class="progress-bar bg-success" style="width: 45%"></div>
                                                </div>

                                            </div>
                                            <div class="landing-page-card-vol-small">8000 achived</div>
                                        </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="">
                                    <a class="btn mt-2 landing-page-apply-mission-btn" href="#">
                                        Apply <img src="~/images/right-arrow.png" alt="">
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event">
                            <img class="group list-group-image img-fluid" style="width:100%;"
                                 src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="" />
                            <div class="landing-page-top-right"><img src="~/images/pin.png" alt=""> Toronto</div>
                            <div class="landing-page-bottom-right d-flex flex-column">
                                <button class="mb-2 landing-page-btn-img">
                                    <img src="~/images/heart.png" alt="">
                                </button><button class="landing-page-btn-img">
                                    <img src="~/images/user.png"
                                         alt="">
                                </button>
                            </div>

                            <div class="landing-page-bottom-center">Environment</div>
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Grow Trees - on the path to Environment sustainability
                            </h4>
                            <p class="group inner landing-page-list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>
                            <div class="d-flex justify-content-between mb-2 landing-page-card-rating">
                                <div>Tree Canada</div>
                                <div>
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                </div>
                            </div>

                            <!-- <div class="row landing-page-box-border">
                              <div class="landing-page-mission-deadline-date">
                                <p class="landing-page-mission-deadline-date-p">From 10/01/2019 until 25/02/2019</p>
                              </div>
                              <div class="col-6 col-md-6 d-flex align-items-center">
                                <p class="lead me-2 pt-2">
                                  <img src="~/images/Seats-left.png" alt="">
                                <div>
                                  <div>10</div>
                                  <div class="landing-page-card-vol-small">Seats Left</div>
                                </div>
                                </p>
                              </div>
                              <div class="col-12 d-flex align-items-center">
                                <p class="lead me-2 pt-2">
                                  <img src="~/images/achieved.png" alt="">
                                <div style="width: 100%;">
                                  <div>

                                    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25"
                                      aria-valuemin="0" aria-valuemax="100" style="height: 10px;">
                                      <div class="progress-bar bg-success" style="width: 45%"></div>
                                    </div>

                                  </div>
                                  <div class="landing-page-card-vol-small">8000 achived</div>
                                </div>
                              </div> -->
                            <div class="d-flex justify-content-center">
                                <div class="">
                                    <a class="btn mt-2 landing-page-apply-mission-btn" href="#">
                                        Apply <img src="~/images/right-arrow.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event">
                            <img class="group list-group-image img-fluid" style="width:100%;"
                                 src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" alt="" />
                            <div class="landing-page-top-right"><img src="~/images/pin.png" alt=""> Toronto</div>
                            <div class="landing-page-bottom-right d-flex flex-column">
                                <button class="mb-2 landing-page-btn-img">
                                    <img src="~/images/heart.png" alt="">
                                </button><button class="landing-page-btn-img">
                                    <img src="~/images/user.png"
                                         alt="">
                                </button>
                            </div>

                            <div class="landing-page-bottom-center">Environment</div>
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Education Supplies for every Pair of shoes sold
                            </h4>
                            <p class="group inner landing-page-list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>
                            <div class="d-flex justify-content-between mb-2 landing-page-card-rating">
                                <div>Australian Paradise</div>
                                <div>
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                </div>
                            </div>
                            <div class="rule d-flex mt-1">
                                <hr>
                                <button class="date-btn mt-1">From 10/01/2019 until 25/02/2019</button>
                                <hr>
                            </div>
                            <div class="row landing-page-box-border">

                                <div class="col-6 col-md-6 d-flex align-items-center">
                                    <p class="lead me-2 pt-2">
                                        <img src="~/images/user1.png" alt="">
                                        <div>
                                            <div>250</div>
                                            <div class="landing-page-card-vol-small">Already Volunteered</div>
                                        </div>
                                    </p>
                                </div>
                                <div class="col-6 col-md-6 d-flex align-items-center">
                                    <p class="lead me-2 pt-2">
                                        <img src="~/images/deadline.png" alt="">
                                        <div>
                                            <div>09/01/2023</div>
                                            <div class="landing-page-card-vol-small">Deadline</div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="">
                                    <a class="btn mt-2 landing-page-apply-mission-btn" href="#">
                                        Apply <img src="~/images/right-arrow.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event">
                            <img class="group list-group-image img-fluid" style="width:100%;"
                                 src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" alt="" />
                            <div class="landing-page-top-right"><img src="~/images/pin.png" alt=""> Toronto</div>
                            <div class="landing-page-bottom-right d-flex flex-column">
                                <button class="mb-2 landing-page-btn-img">
                                    <img src="~/images/heart.png" alt="">
                                </button><button class="landing-page-btn-img">
                                    <img src="~/images/user.png"
                                         alt="">
                                </button>
                            </div>

                            <div class="landing-page-bottom-center">Environment</div>
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Education Supplies for every Pair of shoes sold
                            </h4>
                            <p class="group inner landing-page-list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>
                            <div class="d-flex justify-content-between mb-2 landing-page-card-rating">
                                <div>Australian Paradise</div>
                                <div>
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                </div>
                            </div>
                            <div class="rule d-flex mt-1">
                                <hr>
                                <button class="date-btn mt-1">From 10/01/2019 until 25/02/2019</button>
                                <hr>
                            </div>
                            <div class="row landing-page-box-border">

                                <div class="col-6 col-md-6 d-flex align-items-center">
                                    <p class="lead me-2 pt-2">
                                        <img src="~/images/user1.png" alt="">
                                        <div>
                                            <div>250</div>
                                            <div class="landing-page-card-vol-small">Already Volunteered</div>
                                        </div>
                                    </p>
                                </div>
                                <div class="col-6 col-md-6 d-flex align-items-center">
                                    <p class="lead me-2 pt-2">
                                        <img src="~/images/deadline.png" alt="">
                                        <div>
                                            <div>09/01/2023</div>
                                            <div class="landing-page-card-vol-small">Deadline</div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="">
                                    <a class="btn mt-2 landing-page-apply-mission-btn" href="#">
                                        Apply <img src="~/images/right-arrow.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item "><a class="page-link page-item-current" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#list').click(function (event) { event.preventDefault(); $('#products .item').addClass('list-group-item'); });
            $('#grid').click(function (event) { event.preventDefault(); $('#products .item').removeClass('list-group-item'); $('#products .item').addClass('grid-group-item'); });
        });

    </script>
    
    <script src="~/js/filter.js"></script>
</body>

</html>

