@{
    Layout = "_NavbarLayout";
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>No Mission Found</title>

    <link rel="stylesheet" href="~/css/landing-page.css" />


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>





</head>

<body>

        <div class="container text-center" style="margin-top:150px">
            <h1 class="mt-5">No Mission found</h1>
             <a class="btn mt-2 landing-page-apply-mission-btn" asp-action="Volunteering">
                            Submit New Mission
                            <img src="~/images/right-arrow.png" alt="">
             </a>
        </div>
    
</body>
</html>

