@{
    Layout = "_NavbarLayout";
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="~/css/landing-page.css" />
    <link rel="stylesheet" href="~/css/storyListing.css" />






</head>

<body>

    <div class="container" style="margin-top:150px">
        <div class="filters-section d-flex align-items-center flex-wrap justify-content-center">
        </div>
        <div class="addstorybg" style="height: 390px;">
        <div class="centered">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem perferendis error recusandae temporibus neque officiis impedit repellendus laboriosam id delectus. Lorem ipsum dolor, sit amet.</p>
            <div class="centeredbtn text-center">
                <a href="" class="btn text-decoration-none" style="color: white;">Share your story <img src="../CI-Imgs/right-arrow.png" alt=""></a>
            </div>
        </div>
      </div>

        @*-----------------------------------------------------------------------------*@
        <div class="container mt-5 p-0">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                    <div class="card mx-auto" style="width: 20rem;">
                       <div class="img-event" id="hover-div">
              <img
              class="group list-group-image img-fluid"
              style="width: 100%"
              src="~/Images/Nourish-the-Children-in--African-country-1.png"
                alt=""
                />
                
                <button class="apply-btn" onclick="viewdetails()">
                    View Details -->
                </button>
                
                <div class="landing-page-bottom-center">Children</div>
            </div>
                        
                        <div class="card-body">
                            <h5>10 User and Customer Engagement Strategies for 2019</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat cum veritatis expedita totam soluta sapiente!</p>
                            <div class="storyuser d-flex">
                                <img src="~/Images/volunteer1.png" alt="" class="voluntimg">
                                <p class="m-2">Andrew Johnson</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                    <div class="card mx-auto" style="width: 20rem;">
                        <div class="img-event" id="hover-div">
                            <img class="group list-group-image img-fluid"
                                 style="width: 100%"
                                 src="~/Images/Nourish-the-Children-in--African-country-1.png"
                                 alt="" />

                            <button class="apply-btn" onclick="viewdetails()">
                                View Details -->
                            </button>

                            <div class="landing-page-bottom-center">Children</div>
                        </div>

                        <div class="card-body">
                            <h5>10 User and Customer Engagement Strategies for 2019</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat cum veritatis expedita totam soluta sapiente!</p>
                            <div class="storyuser d-flex">
                                <img src="~/Images/volunteer1.png" alt="" class="voluntimg">
                                <p class="m-2">Andrew Johnson</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                    <div class="card mx-auto" style="width: 20rem;">
                        <div class="img-event" id="hover-div">
                            <img class="group list-group-image img-fluid"
                                 style="width: 100%"
                                 src="~/Images/Nourish-the-Children-in--African-country-1.png"
                                 alt="" />

                            <button class="apply-btn" onclick="viewdetails()">
                                View Details -->
                            </button>

                            <div class="landing-page-bottom-center">Children</div>
                        </div>

                        <div class="card-body">
                            <h5>10 User and Customer Engagement Strategies for 2019</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat cum veritatis expedita totam soluta sapiente!</p>
                            <div class="storyuser d-flex">
                                <img src="~/Images/volunteer1.png" alt="" class="voluntimg">
                                <p class="m-2">Andrew Johnson</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                    <div class="card mx-auto" style="width: 20rem;">
                        <div class="img-event" id="hover-div">
                            <img class="group list-group-image img-fluid"
                                 style="width: 100%"
                                 src="~/Images/Nourish-the-Children-in--African-country-1.png"
                                 alt="" />

                            <button class="apply-btn" onclick="viewdetails()">
                                View Details -->
                            </button>

                            <div class="landing-page-bottom-center">Children</div>
                        </div>

                        <div class="card-body">
                            <h5>10 User and Customer Engagement Strategies for 2019</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat cum veritatis expedita totam soluta sapiente!</p>
                            <div class="storyuser d-flex">
                                <img src="~/Images/volunteer1.png" alt="" class="voluntimg">
                                <p class="m-2">Andrew Johnson</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                    <div class="card mx-auto" style="width: 20rem;">
                        <div class="img-event" id="hover-div">
                            <img class="group list-group-image img-fluid"
                                 style="width: 100%"
                                 src="~/Images/Nourish-the-Children-in--African-country-1.png"
                                 alt="" />

                            <button class="apply-btn" onclick="viewdetails()">
                                View Details -->
                            </button>

                            <div class="landing-page-bottom-center">Children</div>
                        </div>

                        <div class="card-body">
                            <h5>10 User and Customer Engagement Strategies for 2019</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat cum veritatis expedita totam soluta sapiente!</p>
                            <div class="storyuser d-flex">
                                <img src="~/Images/volunteer1.png" alt="" class="voluntimg">
                                <p class="m-2">Andrew Johnson</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                    <div class="card mx-auto" style="width: 20rem;">
                        <div class="img-event" id="hover-div">
                            <img class="group list-group-image img-fluid"
                                 style="width: 100%"
                                 src="~/Images/Nourish-the-Children-in--African-country-1.png"
                                 alt="" />

                            <button class="apply-btn" onclick="viewdetails()">
                                View Details -->
                            </button>

                            <div class="landing-page-bottom-center">Children</div>
                        </div>

                        <div class="card-body">
                            <h5>10 User and Customer Engagement Strategies for 2019</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat cum veritatis expedita totam soluta sapiente!</p>
                            <div class="storyuser d-flex">
                                <img src="~/Images/volunteer1.png" alt="" class="voluntimg">
                                <p class="m-2">Andrew Johnson</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                    <div class="card mx-auto" style="width: 20rem;">
                        <div class="img-event" id="hover-div">
                            <img class="group list-group-image img-fluid"
                                 style="width: 100%"
                                 src="~/Images/Nourish-the-Children-in--African-country-1.png"
                                 alt="" />

                            <button class="apply-btn" onclick="viewdetails()">
                                View Details -->
                            </button>

                            <div class="landing-page-bottom-center">Children</div>
                        </div>

                        <div class="card-body">
                            <h5>10 User and Customer Engagement Strategies for 2019</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat cum veritatis expedita totam soluta sapiente!</p>
                            <div class="storyuser d-flex">
                                <img src="~/Images/volunteer1.png" alt="" class="voluntimg">
                                <p class="m-2">Andrew Johnson</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                    <div class="card mx-auto" style="width: 20rem;">
                        <div class="img-event" id="hover-div">
                            <img class="group list-group-image img-fluid"
                                 style="width: 100%"
                                 src="~/Images/Nourish-the-Children-in--African-country-1.png"
                                 alt="" />

                            <button class="apply-btn" onclick="viewdetails()">
                                View Details -->
                            </button>

                            <div class="landing-page-bottom-center">Children</div>
                        </div>

                        <div class="card-body">
                            <h5>10 User and Customer Engagement Strategies for 2019</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat cum veritatis expedita totam soluta sapiente!</p>
                            <div class="storyuser d-flex">
                                <img src="~/Images/volunteer1.png" alt="" class="voluntimg">
                                <p class="m-2">Andrew Johnson</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                    <div class="card mx-auto" style="width: 20rem;">
                        <div class="img-event" id="hover-div">
                            <img class="group list-group-image img-fluid"
                                 style="width: 100%"
                                 src="~/Images/Nourish-the-Children-in--African-country-1.png"
                                 alt="" />

                            <button class="apply-btn" onclick="viewdetails()">
                                View Details -->
                            </button>

                            <div class="landing-page-bottom-center">Children</div>
                        </div>

                        <div class="card-body">
                            <h5>10 User and Customer Engagement Strategies for 2019</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat cum veritatis expedita totam soluta sapiente!</p>
                            <div class="storyuser d-flex">
                                <img src="~/Images/volunteer1.png" alt="" class="voluntimg">
                                <p class="m-2">Andrew Johnson</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example" class="mt-3">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only"></span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only"></span>
                    </a>
                </li>
            </ul>
        </nav>
    
</body>
<script>
    function viewdetails() {
        alert("kadjh")
    }
</script>
<script src="~/js/filter.js"></script>
<script src="~/js/Volunteering.js"></script>

</html>

