.dropdown a {
    text-decoration: none;
}
.form-control:focus, .btn:focus, .form-select:focus {
    outline: none !important;
    box-shadow: none !important;
}
.nav-link:focus {
    color: black !important;
}
.offcanvas-backdrop{
    height:120vh;
}

.nav-link {
    color: black !important;
}
.filter{
   border:1px solid grey;
    border-radius: 25px;
    background-color: #FFFF;
}
#preloader {
    background: #ffff url(/Images/12.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: white !important;
    background-color: #F88634 !important;
}
@media screen and (min-width:767px) {
    .hamburger, #offcanvasWithBothOptions, #filteroffcanvasWithBothOptions{
           display: none;
    }
    .nav-brand{
        display: none;
    }
    
 
   

}

@media  screen and (max-width:767px){
    .navbar1{
       display:none;
    }
    .userprofile{
       display: none;
    }
    .seconddiv{
       display: none;
   }
 
}
@media screen and (max-width:1023px) {
  .sortlistgrid{
    display: none !important;
  }
  
}
.header{
    border-bottom: 2px solid #E8E8E8;
    /* box-shadow: 6px 6px 10px lightgrey; */
    background-color: white;
}
.form-control{
    border: none !important;
}
/* .div{
    border: 1px solid gray;
} */
.ham{
    height: 50%;
    width: 50%;
    padding: 0 !important;
}
.filterdiv{
    border-left: 2px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
}
.header2{
    border-bottom: 2px solid #E8E8E8;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    background-color: white;
    /* box-shadow: 6px 6px 10px lightgrey; */
}

#offcanvasWithBothOptions ,#filteroffcanvasWithBothOptions {
width: 35%;
}
p{
  margin-bottom: 0rem;
}
.form-check-input:checked {
  background-color: #F88634;

  border-color: #F88634;
margin-right: 5%;
}