
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>

    <link rel="stylesheet" href="~/css/RelatedMission.css" />


    


 



</head>

<body>
    <hr style="border:2px solid black"/>
    <h3>
        Related Missions
    </h3>
    

    <div class="">


        <div class="container">
            
            <div id="products" class="row view-group">
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event">
                            <img class="group list-group-image img-fluid" style="width:100%;"
                                 src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="" />
                            <div class="landing-page-top-right"><img src="~/images/pin.png" alt=""> Toronto</div>
                            <div class="landing-page-bottom-right d-flex flex-column">
                                <button class="mb-2 landing-page-btn-img">
                                    <img src="~/images/heart.png" alt="">
                                </button><button class="landing-page-btn-img">
                                    <img src="~/images/user.png"
                                         alt="">
                                </button>
                            </div>

                            <div class="landing-page-bottom-center">Environment</div>
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Grow Trees - on the path to Environment sustainability
                            </h4>
                            <p class="group inner landing-page-list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>
                            <div class="d-flex justify-content-between landing-page-card-rating">
                                <div>Tree Canada</div>
                                <div>
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                </div>
                            </div>
                            <div class="rule d-flex mt-1">
                                <hr>
                                <button class="date-btn mt-1">From 10/01/2019 until 25/02/2019</button>
                                <hr>
                            </div>
                            <div class="row landing-page-box-border">
                                <div class="col-6 col-md-6 d-flex align-items-center">
                                    <p class="lead me-2 pt-2">
                                        <img src="~/images/Seats-left.png" alt="">
                                        <div>
                                            <div>10</div>
                                            <div class="landing-page-card-vol-small">Seats Left</div>
                                        </div>
                                    </p>
                                </div>
                                <div class="col-6 col-md-6 d-flex align-items-center">
                                    <p class="lead me-2 pt-2">
                                        <img src="~/images/deadline.png" alt="">
                                        <div>
                                            <div>09/01/2023</div>
                                            <div class="landing-page-card-vol-small">Deadline</div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="">
                                    <a class="btn mt-2 landing-page-apply-mission-btn" href="#">
                                        Apply <img src="~/images/right-arrow.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event">
                            <img class="group list-group-image img-fluid" style="width:100%;"
                                 src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" alt="" />
                            <div class="landing-page-top-right"><img src="~/images/pin.png" alt=""> Toronto</div>
                            <div class="landing-page-bottom-right d-flex flex-column">
                                <button class="mb-2 landing-page-btn-img">
                                    <img src="~/images/heart.png" alt="">
                                </button><button class="landing-page-btn-img">
                                    <img src="~/images/user.png"
                                         alt="">
                                </button>
                            </div>

                            <div class="landing-page-bottom-center">Environment</div>
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Education Supplies for every Pair of shoes sold
                            </h4>
                            <p class="group inner landing-page-list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>
                            <div class="d-flex justify-content-between mb-2 landing-page-card-rating">
                                <div>Australian Paradise</div>
                                <div>
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                </div>
                            </div>
                            <div class="rule d-flex mt-1">
                                <hr>
                                <button class="date-btn mt-1">From 10/01/2019 until 25/02/2019</button>
                                <hr>
                            </div>
                            <div class="row landing-page-box-border">

                                <div class="col-6 col-md-6 d-flex align-items-center">
                                    <p class="lead me-2 pt-2">
                                        <img src="~/images/user1.png" alt="">
                                        <div>
                                            <div>250</div>
                                            <div class="landing-page-card-vol-small">Already Volunteered</div>
                                        </div>
                                    </p>
                                </div>
                                <div class="col-6 col-md-6 d-flex align-items-center">
                                    <p class="lead me-2 pt-2">
                                        <img src="~/images/deadline.png" alt="">
                                        <div>
                                            <div>09/01/2023</div>
                                            <div class="landing-page-card-vol-small">Deadline</div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="">
                                    <a class="btn mt-2 landing-page-apply-mission-btn" href="#">
                                        Apply <img src="~/images/right-arrow.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event">
                            <img class="group list-group-image img-fluid" style="width:100%;"
                                 src="~/images/Nourish-the-Children-in--African-country.png" alt="" />
                            <div class="landing-page-top-right"><img src="~/images/pin.png" alt=""> Toronto</div>
                            <div class="landing-page-bottom-right d-flex flex-column">
                                <button class="mb-2 landing-page-btn-img">
                                    <img src="~/images/heart.png" alt="">
                                </button><button class="landing-page-btn-img">
                                    <img src="~/images/user.png"
                                         alt="">
                                </button>
                            </div>

                            <div class="landing-page-bottom-center">Children</div>
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Education Supplies for every Pair of shoes sold
                            </h4>
                            <p class="group inner landing-page-list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>
                            <div class="d-flex justify-content-between mb-2 landing-page-card-rating">
                                <div>Australian Paradise</div>
                                <div>
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/selected-star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                    <img src="~/images/star.png" alt="">
                                </div>
                            </div>
                            <div class="rule d-flex mt-1">
                                <hr>
                                <button class="date-btn mt-1">From 10/01/2019 until 25/02/2019</button>
                                <hr>
                            </div>
                            <div class="row landing-page-box-border">

                                <div class="col-6 col-md-6 d-flex align-items-center">
                                    <p class="lead me-2 pt-2">
                                        <img src="~/images/Seats-left.png" alt="">
                                        <div>
                                            <div>10</div>
                                            <div class="landing-page-card-vol-small">Seats Left</div>
                                        </div>
                                    </p>
                                </div>
                                <div class="col-6 col-md-6 d-flex align-items-center">
                                    <p class="lead me-2 pt-2">
                                        <img src="~/images/deadline.png" alt="">
                                        <div>
                                            <div>09/01/2023</div>
                                            <div class="landing-page-card-vol-small">Deadline</div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="">
                                    <a class="btn mt-2 landing-page-apply-mission-btn" href="NoMissionFound">
                                        Apply <img src="~/images/right-arrow.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
    </div>
    </div>
    <script src="~/js/filter.js"></script>
</body>
</html>

